#wrapper, body, html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.center {
  opacity: 0
}

a {
  cursor: pointer;
}

h1, h2 {
  font-weight: lighter;
  font-family: Segoe UI Light, Segoe UI, Microsoft Jhenghei, \\5FAE\8F6F\96C5\9ED1, "sans-serif";
  color: white;
  margin-top: 0;
}

h1 {
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

h1::after {
  content: " ";
  width: 3rem;
  height: 3px;
  background: #009ac9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

h1.inview::after {
  width: 10rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    width: 12rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h1::after {
    content: " ";
    width: 3rem;
    height: 3px;
    background: #009ac9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
  }

  h1.inview::after {
    width: 6rem;
  }
}

.block {
  min-height: 50vh;
  padding-top: 3rem;
}

#wrapper {
  font-family: "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100vw;
  min-height: 100vh
}

#wrapper, .guide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.guide {
  width: 100%;
  height: 3rem;
  text-align: left;
  padding: 1rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.guide.shadow {
  background: rgba(35, 38, 48, .5);
}

.guide .logo {
  width: 110px;
  height: 16px;
  fill: white;
}

.guide .flex-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.guide .menu {
  text-align: right;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s
}

.guide .menu, .guide .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0
}

.guide .menu ul {
  list-style: none;
  padding: 0;
  opacity: 1
}

.guide .menu ul li {
  width: 6rem;
  text-align: center;
  line-height: 1rem;
  color: white;
  font-size: .9rem;
}

.guide .menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: .9rem;
  font-weight: normal;
}

.guide .switch {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  float: right;
  cursor: pointer;
  display: none;
}

.guide ul li.latest {
  cursor: pointer;
}

.guide ul li.latest ul{
  margin-top: .8rem;
  padding: .4rem .3rem;
  background: rgba(9, 39, 86, 0.5);
  opacity: 0;
  transition: all 0.5s;
}

.guide ul li.latest.open ul{
  opacity: 1;
}

.guide ul li.latest ul li a{
  color: white;
}

@media only screen and (max-width: 768px) {
  .guide {
    min-width: 200px;
    width: 100vw
  }

  .guide .logo, .guide .switch {
    z-index: 4;
  }

  .guide .menu {
    width: 100vw;
    height: 100vh;
    background: rgba(35, 38, 48, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: .5rem 0;
    z-index: 2;
  }

  .guide .menu ul {
    width: 100%;
    height: 100%;
    display: list-item;
    padding-top: 3rem;
  }

  .guide .menu ul li {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
  }

  .guide .menu ul li a {
    color: white;
  }

  .guide ul li.latest ul {
    padding: 0;
    margin-top: 0;
  }

  .guide .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .guide .switch {
    display: block;
  }
}

.home {
  max-height: 100vh;
  background: transparent;
  position: relative;
}

.home, .home .background {
  width: 100%;
  height: 66vw;
  overflow: hidden;
}

.home .background img, .home .background video {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.home .background {
  background: #232630;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

.home .content {
  width: 100%;
  height: 66vw;
  background: rgba(35, 38, 48, 0.7);
  z-index: 2;
  position: relative;
}

.home .content .center {
  width: 100%;
  height: 30rem;
  padding: 15% 10% 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.home .content .center .title {
  text-align: left;
  width: 60%
}

.home .content .center .title .logo {
  width: 30rem;
  height: auto
}

.home .content .center .title p {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 200;
}

.home .content .center .title .desc {
  color: white;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
}

.home .content .center .title .icon {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.home .content .center .title .topic {
  font-size: 1.5rem;
  color: #009ac9;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.home .content .center .qrcode {
  width: 40%;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

#qrcode {
  margin: 0 auto;
  width: 128px;
  border: 5px white solid;
}

@media only screen and (max-width: 768px) {
  .home {
    min-height: 0
  }

  .home .qrcode {
    display: none
  }

  .home .background {
    min-height: 0
  }

  .home .content .center {
    height: auto
  }

  .home .content .center .title {
    text-align: center;
    width: 100%;
    height: auto;
  }

  .home .content .center .title .logo {
    width: 90%;
    height: auto
  }

  .home .content .center .title p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: .5rem
  }

  .home .content .center .title .desc {
    font-size: 0.9rem;
  }

  .home .content .center .title .topic {
    font-size: 1rem;
  }
}

.content-wrapper {
  background: #232630;
  z-index: 1;
  position: relative;
  margin-top: 50px;
}

.intro {
  width: 100%;
  margin-top: -50px;
  position: relative;
  z-index: 3;
  background: transparent;
}

.intro, .intro .top {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.intro .top {
  background: transparent;
  height: 50px
}

.intro .top svg {
  height: 50px;
  fill: #232630
}

.intro .center {
  background: #232630;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 21rem;
  margin: 0;
  padding-top: 2rem
}

.intro .center h1 {
  margin-top: 0;
  color: #fff
}

.intro .center .topic {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 30rem;
  margin: 0 auto 1rem
}

@media only screen and (max-width: 768px) {
  .content-wrapper {
    margin-top: 30px;
  }

  .intro {
    margin-top: -30px
  }

  .intro .top, .intro .top svg {
    height: 30px
  }

  .intro .center {
    margin: -1px 0 0;
    padding-top: 1rem;
    height: 15rem;
    font-size: .9rem
  }

  .intro .center .topic {
    font-size: 1rem;
    width: 90%
  }
}

.guests {
  width: 100%;
  margin-top: -50px;
  color: white;
  position: relative;
  z-index: 2;
}

.guests, .guests .top {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.guests .top {
  background: transparent;
  height: 50px
}

.guests .top svg {
  height: 50px;
  fill: #fff;
}

.guests .center {
  background: #232630;
  padding-bottom: 5rem;
  max-width: 100vw;
}

.guests .guest-list {
  width: 80%;
  padding: 0;
  margin: 3rem auto 0;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.guests .guest-list li {
  width: 15rem;
  margin-bottom: 2rem
}

.guests .guest-list li h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin-top: .5rem;
  color: #009ac9;
}

.guests .guest-list li img {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  -webkit-transition: border-radius 0.4s;
  -o-transition: border-radius 0.4s;
  transition: border-radius 0.4s;
}

.guests .guest-list li img:hover {
  border-radius: 80% 70% 90% 80%;
}

.guests .guest-list li:nth-of-type(2n+1) img:hover {
  border-radius: 90% 60% 80% 80%;
}

.guests .guest-list li:nth-of-type(3n+1) img:hover {
  border-radius: 90% 80% 80% 70%;
}

.guests .guest-list li:nth-of-type(4n+1) img:hover {
  border-radius: 80% 80% 70% 90%;
}

.guests .guest-list li p {
  width: 10rem;
  margin: 0 auto;
  font-weight: 200;
}

@media only screen and (max-width: 425px) {
  .guests {
    margin-top: -30px
  }

  .guests .top, .guests .top svg {
    height: 30px
  }

  .guests .center {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -1px
  }

  .guests .center h1 {
    margin-top: 0;
    font-size: 1.8rem
  }

  .guests .guest-list {
    width: 100%;
    margin: 1rem auto 0;
    max-width: 100vw;
    overflow: auto;
    display: list-item;
  }

  .guests .guest-list li {
    width: 50%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .guests .guest-list li h2 {
    font-size: 1rem
  }

  .guests .guest-list li img {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem
  }

  .guests .guest-list li p {
    width: 8rem;
    margin: 0 auto;
    font-size: .9rem;
    font-weight: normal
  }
}

.schedule {
  width: 100%;
  background: #232630;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.schedule h1 {
  margin-top: 0;
  color: #fff
}

.schedule ul {
  padding: 0;
  list-style: none;
  color: #fff;
  width: 80%;
  margin: .5rem auto
}

.schedule ul li {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  line-height: 1rem;
}

.schedule ul li .time {
  padding: 1rem;
}

.schedule ul li .content {
  padding: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.schedule ul li .deck-link {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: #fff;
  font-size: .8rem;
  padding: 0 5px;
  line-height: normal;
  margin-left: .5rem;
}

.schedule ul li .deck-link svg {
  display: inline-block;
  width: .8rem;
  height: .9rem;
  line-height: normal;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle
}

.schedule .desc {
  line-height: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .schedule ul {
    width: 90%
  }

  .schedule ul li {
    display: block;
  }

  .schedule ul li .time {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  .schedule ul li .title {
    text-align: center;
    line-height: 1rem;
  }

  .schedule ul li .desc {
    text-align: left;
    line-height: 1.5rem;
  }

  .schedule ul li .title .deck-link {
    margin-top: 1rem;
    margin-left: 0;
  }
}

.map {
  width: 100%;
  height: 55vh;
  -ms-flex-line-pack: center;
  background: #232630;
  align-content: center;
  -webkit-box-shadow: 0 1px 0 rgba(12, 13, 14, .1), 0 1px 3px rgba(12, 13, 14, .1), 0 4px 20px rgba(12, 13, 14, .035), 0 1px 1px rgba(12, 13, 14, .025);
  box-shadow: 0 1px 0 rgba(12, 13, 14, .1), 0 1px 3px rgba(12, 13, 14, .1), 0 4px 20px rgba(12, 13, 14, .035), 0 1px 1px rgba(12, 13, 14, .025)
}

#map {
  width: 100%;
  height: 45vh;
}

#map .BMap_mask {
  background: rgba(35, 38, 48, .2);
}

#map .BMap_noprint {
  display: none;
}

.about {
  width: 100%;
  background: #232630;
  padding-top: 5rem;
  color: white;
}

.about p {
  width: 30rem;
  font-weight: 300;
  margin: 0 auto
}

.about a {
  color: #555;
  text-decoration: none
}

@media only screen and (max-width: 768px) {
  .about p {
    width: 85%;
    font-size: .9rem;
  }
}

.buy {
  width: 100%;
  padding: 2rem 0;
  background: #232630
}

.buy .tickets {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.buy .ticket {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
  width: 255px;
  margin-bottom: 1rem
}

@media only screen and (max-width: 768px) {
  #map {
    pointer-events: none;
  }

  .buy .tickets {
    display: block;
    max-width: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .buy .ticket {
    margin-left: auto;
    margin-right: auto;
  }
}

.buy .ticket .img {
  width: 255px;
  background: #009ac9;
  height: 8rem;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.buy .ticket .img img {
  width: 200px;
  height: 32px;
  background: #009ac9;
  margin-top: 30px
}

.buy .ticket .bottom > div:first-child, .buy .ticket .top > div:first-child {
  padding-top: 18px
}

.buy .ticket .bottom > div:last-child, .buy .ticket .top > div:last-child {
  padding-bottom: 18px
}

.buy .ticket .bottom img, .buy .ticket .top img {
  padding: 18px 0
}

.buy .ticket .bottom, .buy .ticket .rip, .buy .ticket .top {
  background-color: #fff
}

.buy .ticket .top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px
}

.buy .ticket ul {
  text-align: center;
  width: 150px;
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  height: 6rem
}

.buy .ticket .typename {
  margin: .5rem auto
}

.buy .ticket .bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 18px;
  height: 30px
}

.buy .ticket .bottom .barcode {
  background-repeat: repeat-y;
  min-width: 58px
}

.buy .ticket .bottom .buy {
  display: block;
  font-size: 12px;
  font-weight: 700;
  background-color: #5d9cec;
  padding: 0 18px;
  line-height: 30px;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  width: 80%;
  margin: 0 auto
}

.buy .ticket .rip {
  height: 20px;
  margin: 0 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
  background-size: 4px 2px;
  background-repeat: repeat-x;
  background-position: 50%;
  position: relative;
  -webkit-box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff
}

.buy .ticket .rip:after, .buy .ticket .rip:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  border: 5px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
  border-radius: 100%
}

.buy .ticket .rip:before {
  left: -10px
}

.buy .ticket .rip:after {
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
  -ms-transform: translate(-50%, -50%) rotate(225deg);
  transform: translate(-50%, -50%) rotate(225deg);
  right: -40px
}

.buy .ticket .-normal {
  font-weight: 700
}

.join {
  background: #232630;
  padding: 3rem 0;
}

.join .submit-btn {
  border: solid 2px rgba(0, 154, 201, 0.5);
  color: #009ac9;
  background: transparent;
  line-height: 2rem;
  padding: .2rem 2rem;
  font-size: 1rem;
  margin-top: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.join .submit-btn:hover {
  background-color: #009ac9;
  color: white;
}

.join form {
  margin: 0 auto;
  width: 50%;
}

.join .input {
  height: 100px;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join .input input[type='text'], .join .input input[type='text']:-webkit-autofill {
  background-color: transparent;
  border-color: rgba(0, 207, 255, 0.8);
  border-style: none none solid;
  border-width: 0 0 1px;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFF;
  font-size: 1.2rem;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.join .input input[type='text']:focus {
  outline: 0;
}

.join .input input[type='text']:focus ~ span {
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.join .input input[type='text']:focus ~ label, .join .input input[type='text']:valid ~ label {
  -webkit-transition: all 0.125s ease;
  -o-transition: all 0.125s ease;
  transition: all 0.125s ease;
  color: white;
  font-size: .75em;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.join .input input[type='text']:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-color: rgba(0, 207, 255, 0.8);
  border-style: none none solid;
  border-width: 0 0 1px;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFF;
  font-size: 1.2rem;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.join .input input[type='text'] ~ span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  background: #009ac9;
  display: block;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.join .input label {
  position: absolute;
  bottom: 20px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .join .submit-btn {
    width: 100%;
  }

  .join form {
    margin: 0 auto;
    width: 80%;
  }
}

.sponsor {
  padding: 3rem 2rem;
  background: #232630;
}

.sponsor img {
  margin-bottom: .5rem;
}

.foot {
  width: 100%;
  background: #1e1e25;
  color: #fff;
  font-size: .9rem;
  text-align: center;
  padding: 3rem 10rem 1rem 10rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.foot .link {
  height: 2rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1rem auto;
}

.foot .link a{
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.foot .link a:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  content: " ";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(94, 203, 255);
}

.foot .tlogo {
  width: 14rem;
  height: auto;
}

.cr {
  width: 100%;
  color: #fff;
  font-size: .9rem;
  text-align: center;
  margin: 0;
  height: 2rem;
  line-height: 2rem;
}

@media only screen and (max-width: 768px) {
  .foot {
    padding: 2rem 0;
  }

  .foot .left {
    width: 100%;
    text-align: center;
  }

  .foot .right {
    display: none;
  }

  .foot .icon {
    display: none;
  }
}

#footqr {
  border: 5px white solid;
  width: 128px;
  height: 128px;
  margin: 0 auto;
}

.fadein {
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .center {
    opacity: 1
  }

  .guests .center,.guests .fadein {
    opacity: 1;
    -webkit-animation: none;
    animation: none;
  }
}